* {
  padding: 0px;
  margin: 0px;
}
body {
  font-family: "Montserrat", sans-serif;
}

span {
  color: orange;
}

.first-part {
  display: flex;
  padding-top: 50px;
  padding-left: 100px;
}

.part {
  width: 50%;
}

.part img {
  width: 550px;
  margin-right: 200px;
}

.first-part h1 {
  text-decoration: 700;
  padding-bottom: 30px;
  font-size: 50px;
  color: rgb(102, 101, 101);
  margin-top: 150px;
}
.part p {
  padding-bottom: 50px;
}

.part a {
  text-decoration: none;
  padding: 15px 20px;
  border-radius: 100px;
  font-weight: 500;
  color: white;
  background: linear-gradient(88.33deg, #fba24f -7.64%, #ff1e1e 145.94%);
  box-shadow: 0px 2px 30px rgba(252, 142, 73, 0.582);
  border-radius: 150px;
}

.second-part {
  background-image: url(./images/7.png);
  background-repeat: no-repeat;
  display: flex;
  /*padding-bottom: 100px;*/
}

.part-two {
  width: 50%;
  padding-left: 200px;
}

.part-two img {
  width: 315px;
  height: auto;
  padding: 100px;
}

.part-two h1 {
  text-decoration: 700;
  padding-bottom: 30px;
  font-size: 50px;
  color: rgb(102, 101, 101);
  margin-top: 150px;
}

.part-two p {
  margin-right: 150px;
  padding-bottom: 100px;
}

.part-two a {
  text-decoration: none;
  padding: 15px 20px;
  border-radius: 100px;
  font-weight: 500;
  color: white;
  background: linear-gradient(88.33deg, #fba24f -7.64%, #ff1e1e 145.94%);
  box-shadow: 0px 2px 30px rgba(252, 142, 73, 0.582);
  border-radius: 150px;
}

#receipe h1 {
  text-align: center;
  color: grey;
  font-weight: 700;
  padding-bottom: 30px;
}

#receipe p {
  text-align: center;
  margin-right: 400px;
  margin-left: 400px;
}
